/* make sidebar nav vertical */ 
@media (min-width: 768px){
    .affix-content .container {
      width: 700px;
    }   
  
    html,body{
      background-color: #333131;
      height: 100%;
      overflow: hidden;
    }
      .affix-content .container .page-header{
      margin-top: 0;
    }
    .sidebar-nav{
          position:fixed; 
          width:100%;
    }
    .affix-sidebar{
      padding-right:0; 
      font-size:small;
      padding-left: 0;
    }  
    .affix-row, .affix-container, .affix-content{
      height: 100%;
      margin-left: 0;
      margin-right: 0;    
    } 
    .affix-content{
      background-color:white; 
    } 
    .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
    }
    .sidebar-nav .navbar{
      border-radius:0; 
      margin-bottom:0; 
      border:0;
    }
    .sidebar-nav .navbar ul {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }  
  }
  
  @media (min-width: 769px){
    .affix-content .container {
      width: 600px;
    }
      .affix-content .container .page-header{
      margin-top: 0;
    }  
  }
  
  @media (min-width: 992px){
    .affix-content .container {
    width: 900px;
    }
      .affix-content .container .page-header{
      margin-top: 0;
    }
  }
  
  @media (min-width: 1220px){
    .affix-row{
      overflow: hidden;
    }
  
    .affix-content{
      overflow: auto;
    }
  
    .affix-content .container {
      width: 1000px;
    }
  
    .affix-content .container .page-header{
      margin-top: 0;
    }
    .affix-content{
      padding-right: 30px;
      padding-left: 30px;
    }  
    .affix-title{
      border-bottom: 1px solid #2e2f30; 
      padding-bottom:10px;
    }
    .navbar-nav {
      margin: 0;
    }
    .navbar-collapse{
      padding: 0;
    }
    .sidebar-nav .navbar li a:hover {
      background-color: #FAC451;
      color: rgb(34, 33, 33);
    }
    .sidebar-nav .navbar li a > .caret {
      margin-top: 8px;
    }  
  }
  input {
    margin: 40px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
  }
  
  input:focus, input:valid {
   box-shadow: none;
   outline: none;
   background-position: 0 0;
  }
  
  input::-webkit-input-placeholder {
   font-family: 'roboto', sans-serif;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
  }
  
  input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
   color: #1abc9c;
   font-size: 11px;
   -webkit-transform: translateY(-20px);
   transform: translateY(-20px);
   visibility: visible !important;
  }
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #FAC451;
  color: #FAC451;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #FAC451;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}